<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alive: Monitoring</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <brand-bar></brand-bar>
    <side-bar></side-bar>
    <main>
        <ul data-bind="foreach: configurations">
            <li>
                <span data-bind="text: Endpoint"></span>
            </li>
        </ul>
    </main>

    <script src="../externals/require.js"></script>
    <script src="../js/require-config.js"></script>
    <script>
        require(["../js/alive-navigation", "../js/configurations"]);
    </script>
</body>
</html>